<div class="flex w-full h-full justify-center">

    <div class="w-[700px] h-[500px] flex flex-col items-center justify-center">
        <h1 class="px-2 rounded-md text-lg font-bold text-indigo-500">Profile</h1>
        <div class="w-[700px] h-[500px]">
            <div class="text-black bg-white rounded-lg w-[720px] h-[480px] border-2 flex flex-col items-center mb-2 ml-2 overflow-x-auto fle">
                <div class="bg-black text-white w-[600px] h-[220px] rounded-md ml-1">
                    <h1>a</h1>
                    <h2>description...</h2>
                    <h3>by USER</h3>
                </div>
            </div>
        </div>

    </div>

</div>