<div class="flex w-full h-full justify-center">

    <div class="w-[700px] h-[500px] flex flex-col items-center justify-center">
        <div class="rounded-lg w-[300px] h-[320px] border-2 flex justify-center">
            <form>
                <div class="flex text-white flex-col w-[200px] h-[80px] mt-12">
                    <div class="flex ml-2 ">
                        <h1>Title</h1>
                    </div>
                    <div class="">
                        <input type="text" formControlName="name" class=" h-[30px]  bg-black input input-bordered input-sm w-full max-w-xs" placeholder="Name">
                    </div>
                </div>

                <div class="text-white flex flex-col w-[200px] h-[80px] mt-8">
                    <div class="flex ml-2 ">
                        <h2>Description</h2>
                    </div>
                    <div class="">
                        <textarea class="textarea textarea-bordered w-[200px] bg-black" placeholder="Write here"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>